# Flask and related packages
Flask==2.3.2
Flask-Cors==4.0.1

# Web scraping
selenium==4.10.0
beautifulsoup4==4.12.2

# Google Generative AI
google-generativeai==0.3.0

# Natural Language Processing
spacy==3.5.2

# Security
argon2-cffi==21.3.0

# Additional packages
chromedriver-autoinstaller  # Automatically installs the appropriate version of chromedriver
dropbox  # Dropbox SDK for integrating with Dropbox API
requests  # Simplified HTTP request library
